<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />

    <title>잔디 사이드바</title>

  </head>

  <body>
    <div id="sidebar">
      <div class="sidebar-inner-name">
        <h1>잔디 보기</h1>
        <hr class="border-1px-black" />
      </div>
      <div class="sidebar-inner-name1">
        <ul>
          
          <li><a href="/findJandi/findAllJandiMain">전체 잔디</a></li>
          <li><a href="/findJandi/findTopJandiMain">인기 잔디</a></li>
        </ul>
      </div>
    </div>
  </body>

</html>
