
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
  	<meta charset="UTF-8">
	
    <title>숨은잔디</title>

    <link href="/css/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="/css/main.css?" rel="stylesheet" />
    <link href="/css/modal.css" rel="stylesheet" />
     <link href="/css/swiper.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/css/semantic/semantic.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
     <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

   <style>
   	::placeholder {
  		color: #B61A1A !important;
	}
	
	.swiper-button-next, .swiper-button-prev {color: #FF6C6C; }
   </style>
   
  </head>

  <body>
	<th:block th:replace="common/nav.html" ></th:block>

    <!-- 부트스트랩 캐러셀 -->
    <div class="main-logo">
      <div id="myCarousel" class="carousel slide" data-ride="carousel" style="overflow: auto" >
       
         <ol class="carousel-indicators">
         </ol>
         
        <div class="carousel-inner" role="listbox">
          
		</div>
        
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    <main class="container-fluid">

      <div class="ui search main-search">
       	<h3>숨어있는 잔디를 찾아보세요</h3>
       	<form class="main-searchbox" action="findclass/findAllClassMain" method="get">
  			<div class="ui icon input input-search">
    			<input class="input-text" type="search" id="searchValue" name="searchValue" placeholder="찾으시는 강의가 있으신가요?">
    			<button id="searchbtn" style="border: none; background:none; position: relative; right: 11%;"><img src="/images/search.png" style="width:25px;"></button>
  			</div>
  		</form>
 			<div class="results"></div>
	 </div>
      <div class="recommendclass">
        <a href="findclass/findAllClassMain?categoryCode=1"><button class="btn-hover color-1">프로그래밍</button></a>
        <a href="findclass/findAllClassMain?categoryCode=2"><button class="btn-hover color-1">웹 개발</button></a>
        <a href="findclass/findAllClassMain?categoryCode=3"><button class="btn-hover color-1">백엔드</button></a>
        <a href="findclass/findAllClassMain?categoryCode=4"><button class="btn-hover color-1">풀 스택</button></a>
        <a href="#"><button class="btn-hover color-1">백앤드</button></a>
      </div>
      <br />

<!-- ================================================================================================================ -->

      <!-- swiper 캐러셀 -->
     <div class="intro-board">
       <h1>이런 클래스는 어때요 💡</h1>
       <h4>MD 추천 클래스를 지금 소개합니다.</h4>
        <br />
      </div>
      
      <!-- swiper슬라이더 메인컨테이너 --> 
      <div class="swiper-container">
      
	       <!-- 보여지는 영역 --> 
	       <div class="swiper-wrapper"> 
		       <!-- <div class="swiper-slide">내용</div> 를 추가하면된다 -->
		       <th:block th:each="num : ${#numbers.sequence(1,7)}">
		       <div class="swiper-slide photo" th:each="popClass : ${ popularClass }">
		       		<div class="title-image carousel-img" th:onclick="|location.href='@{|findclass/class/viewsUp?classCode=${popClass.classCode}|}'|">
		       			<img th:src="@{uploadFiles/classImage/} + ${popClass.filePath}"/>
		       		</div><br>
		       		<div><h4 class="classNickname" th:text="${ popClass.nickName }"></h4></div>
		       		<div><h5 class="classTitle" th:text="${ popClass.title }"></h5></div>
		       		<div><span class="classPrice" th:text="${ popClass.price }"></span></div>
		       		<i class="star icon" style="color:#FF6C6C;"></i>
		       		<th:block th:if="${popClass.avgReview eq null}">
		       		<span class="classAvgReview" style="color:#FF6C6C;" th:text="0.0"></span><br>
		       		</th:block>
		       		<th:block th:if="${popClass.avgReview ne null}">
		       		<span class="classAvgReview" style="color:#FF6C6C;" th:text="${ popClass.avgReview }"></span><br>
		       		</th:block>
		       		<span class="classViews" th:text="@{🔍} + ${ popClass.views }"></span>
		       </div> 
		       </th:block>
 
		   </div> 
		   <!-- 페이징 버튼 처리 상황에 따라 추가 삭제가능--> 
		   <div class="swiper-pagination"></div> 
		   
	       <!-- 방향 버튼 상황에 따라 추가 삭제가능 --> 
	       <div class="swiper-button-prev"><i class="chevron circle left icon" style="width: 40px;"></i></div>
	        <div class="swiper-button-next"><i class="chevron circle right icon" style="width: 40px;"></i></div>  
	        
        </div>
<!-- ================================================================================================================ -->

      <div class="intro-board">
      	<h1>깜짝 잔디 🎁</h1>
        <h4>MD 추천 잔디를 소개합니다.</h4>
        <br />
      </div>
      
		<!-- swiper슬라이더 메인컨테이너 --> 
      <div class="swiper-container swiper-j">
      
	       <!-- 보여지는 영역 --> 
	       <div class="swiper-wrapper"> 
		       <!-- <div class="swiper-slide">내용</div> 를 추가하면된다 -->
		       <th:block th:each="num : ${#numbers.sequence(1,7)}">
		       <div class="swiper-slide photo-jandi" th:each="popJandi : ${ popularJandi }">
		       		<div class="title-image carousel-img-jandi">
		       			<img class="ui Mini circular image" th:src="@{uploadFiles/profile/} + ${popJandi.profile_path}"/>
		       		</div><br>
		       		<div><h4 class="jandiNickname" th:text="${ popJandi.nickName }"></h4></div>
<!-- 		       		<div><h5 class="jandiIntro" th:text="${ popJandi.intro }"></h5></div> -->
		       </div> 
		       </th:block>
 
		   </div> 
		   <!-- 페이징 버튼 처리 상황에 따라 추가 삭제가능--> 
		   <div class="swiper-pagination"></div> 
		   
	       <!-- 방향 버튼 상황에 따라 추가 삭제가능 --> 
	       <div class="swiper-button-prev"><i class="chevron circle left icon" style="width: 40px;"></i></div>
	        <div class="swiper-button-next"><i class="chevron circle right icon" style="width: 40px;"></i></div> 
	        
        </div>
        
<!-- ================================================================================================================ -->
      
      <div class="intro-board">
      	<h1>뷰 클래스 👀</h1>
        <h4>새싹이 가장 많이 클릭한 클래스를 소개합니다.</h4>
        <br />
      </div>
	
      <div class="swiper-container">
     
       <!-- 보여지는 영역 --> 
       <div class="swiper-wrapper"> 
	       <!-- <div class="swiper-slide">내용</div> 를 추가하면된다 -->
	       <th:block th:each="num : ${#numbers.sequence(1,7)}">
	       <div class="swiper-slide photo" th:each="view : ${ viewClass }">
	       		<div class="title-image carousel-img" th:onclick="|location.href='@{|findclass/class/viewsUp?classCode=${popClass.classCode}|}'|">
	       			<img th:src="@{uploadFiles/classImage/} + ${view.filePath}"/>
	       		</div><br>
	       		<div><h4 class="classNickname" th:text="${ view.nickName }"></h4></div>
	       		<div><h5 class="classTitle" th:text="${ view.title }"></h5></div>
	       		<div><span class="classPrice" th:text="${ view.price }"></span></div>
	       		<i class="star icon" style="color:#FF6C6C;"></i>
	       		<th:block th:if="${view.avgReview eq null}">
		       	<span class="classAvgReview" style="color:#FF6C6C;" th:text="0.0"></span><br>
		       	</th:block>
		       	<th:block th:if="${view.avgReview ne null}">
		       	<span class="classAvgReview" style="color:#FF6C6C;" th:text="${ view.avgReview }"></span><br>
		       	</th:block>
	       		<span class="classViews" th:text="@{🔍} + ${ view.views }"></span>
	       </div> 
	       </th:block>

	   </div> 
	   <!-- 페이징 버튼 처리 상황에 따라 추가 삭제가능--> 
	   <div class="swiper-pagination"></div> 
	   
       <!-- 방향 버튼 상황에 따라 추가 삭제가능 --> 
       <div class="swiper-button-prev"><i class="chevron circle left icon" style="width: 40px;"></i></div>
       <div class="swiper-button-next"><i class="chevron circle right icon" style="width: 40px;"></i></div>  
        
       </div>
 <!-- ================================================================================================================ -->
     
<!-- 	<!-- 중간 광고 타임 
      <div class="mainadvertisement">
        <div class="mainadvertisement-left">
          <h1>📬최근 공지사항</h1>
        </div>
      </div> -->
      
<!-- ================================================================================================================ -->

      <div class="intro-board">
       <h1>최근 클래스 ✨</h1>
        <h4>따끈따끈한 신규 클래스입니다.</h4>
         <br>
      </div>
        <div class="swiper-container">
     
<!--        보여지는 영역  -->
       <div class="swiper-wrapper"> 
<!-- 	       <div class="swiper-slide">내용</div> 를 추가하면된다 -->
	       <th:block th:each="num : ${#numbers.sequence(1,7)}">
	       <div class="swiper-slide photo" th:each="newest : ${ newestClass }">
	       		<div class="title-image carousel-img" th:onclick="|location.href='@{|findclass/class/viewsUp?classCode=${popClass.classCode}|}'|">
	       			<img th:src="@{uploadFiles/classImage/} + ${ newest.filePath }"/>
	       		</div><br>
	       		<div><h4 class="classNickname" th:text="${ newest.nickName }"></h4></div>
	       		<div><h5 class="classTitle" th:text="${ newest.title }"></h5></div>
	       		<div><span class="classPrice" th:text="${ newest.price }"></span></div>
	       		<i class="star icon" style="color:#FF6C6C;"></i>
	       		<th:block th:if="${newest.avgReview eq null}">
		       	<span class="classAvgReview" style="color:#FF6C6C;" th:text="0.0"></span><br>
		       	</th:block>
		       	<th:block th:if="${newest.avgReview ne null}">
		       	<span class="classAvgReview" style="color:#FF6C6C;" th:text="${ newest.avgReview }"></span><br>
		       	</th:block>
	       		<span class="classViews" th:text="@{🔍} + ${ newest.views }"></span>
	       </div> 
	       </th:block>

	   </div>
<!-- 	   페이징 버튼 처리 상황에 따라 추가 삭제가능 --> 
	   <div class="swiper-pagination"></div> 
	   
<!--        방향 버튼 상황에 따라 추가 삭제가능  -->
       <div class="swiper-button-prev"><i class="chevron circle left icon" style="width: 40px;"></i></div>
       <div class="swiper-button-next"><i class="chevron circle right icon" style="width: 40px;"></i></div>  
        
       </div>
      
<!-- ================================================================================================================ -->
 
      <div class="intro-board">
        <h1>곧 마감될 클래스 ⏳</h1>
        <h4>자리가 얼마 남지 않은 클래스입니다.</h4>
         <br>
      </div>
        <div class="swiper-container">
     
<!--        보여지는 영역  -->
       <div class="swiper-wrapper"> 
<!-- 	       <div class="swiper-slide">내용</div> 를 추가하면된다 -->
	       <th:block th:each="num : ${#numbers.sequence(1,7)}">
	       <div class="swiper-slide photo" th:each="deadline : ${ deadlineClass }">
	       		<div class="title-image carousel-img" th:onclick="|location.href='@{|findclass/class/viewsUp?classCode=${popClass.classCode}|}'|">
	       			<img th:src="@{uploadFiles/classImage/} + ${ deadline.filePath }"/>
	       		</div><br>
	       		<div><h4 class="classNickname" th:text="${ deadline.nickName }"></h4></div>
	       		<div><h5 class="classTitle" th:text="${ deadline.title }"></h5></div>
	       		<div><span class="classPrice" th:text="${ deadline.price }"></span></div>
	       		<i class="star icon" style="color:#FF6C6C;"></i>
	       		<th:block th:if="${deadline.avgReview eq null}">
		       	<span class="classAvgReview" style="color:#FF6C6C;" th:text="0.0"></span><br>
		       	</th:block>
		       	<th:block th:if="${deadline.avgReview ne null}">
		       	<span class="classAvgReview" style="color:#FF6C6C;" th:text="${ deadline.avgReview }"></span><br>
		       	</th:block>
	       		<span class="classViews" th:text="@{🔍} + ${ deadline.views }"></span>
	       </div> 
	       </th:block>

	   </div>
<!-- 	   페이징 버튼 처리 상황에 따라 추가 삭제가능 --> 
	   <div class="swiper-pagination"></div> 
	   
<!--        방향 버튼 상황에 따라 추가 삭제가능  -->
       <div class="swiper-button-prev"><i class="chevron circle left icon" style="width: 40px;"></i></div>
       <div class="swiper-button-next"><i class="chevron circle right icon" style="width: 40px;"></i></div>  
        
       </div>
      
<!-- ================================================================================================================ -->   
   
      <div class="intro-board">
        <h1>평점 높은 클래스 👍</h1>
        <h4>새싹들이 인정한 믿고 듣는 클래스입니다.</h4>
        <br>
      </div>
        <div class="swiper-container">
     
<!--        보여지는 영역  -->
       <div class="swiper-wrapper"> 
<!-- 	       <div class="swiper-slide">내용</div> 를 추가하면된다 -->
	       <th:block th:each="num : ${#numbers.sequence(1,7)}">
	       <div class="swiper-slide photo" th:each="high : ${ highScoreClass }">
	       		<div class="title-image carousel-img" th:onclick="|location.href='@{|findclass/class/viewsUp?classCode=${popClass.classCode}|}'|">
	       			<img th:src="@{uploadFiles/classImage/} + ${ high.filePath }"/>
	       		</div><br>
	       		<div><h4 class="classNickname" th:text="${ high.nickName }"></h4></div>
	       		<div><h5 class="classTitle" th:text="${ high.title }"></h5></div>
	       		<div><span class="classPrice" th:text="${ high.price }"></span></div>
	       		<i class="star icon" style="color:#FF6C6C;"></i>
	       		<th:block th:if="${high.avgReview eq null}">
		       	<span class="classAvgReview" style="color:#FF6C6C;" th:text="0.0"></span><br>
		       	</th:block>
		       	<th:block th:if="${high.avgReview ne null}">
		       	<span class="classAvgReview" style="color:#FF6C6C;" th:text="${ high.avgReview }"></span><br>
		       	</th:block>
	       		<span class="classViews" th:text="@{🔍} + ${ high.views }"></span>
	       </div> 
	       </th:block>

	   </div>
<!-- 	   페이징 버튼 처리 상황에 따라 추가 삭제가능 --> 
	   <div class="swiper-pagination"></div> 
	   
<!--        방향 버튼 상황에 따라 추가 삭제가능  -->
       <div class="swiper-button-prev"><i class="chevron circle left icon" style="width: 40px;"></i></div>
       <div class="swiper-button-next"><i class="chevron circle right icon" style="width: 40px;"></i></div>  
        
       </div>
      
    </main>





    <div class="applymentor">
      <div class="applymentor-inner">
        <div class="applymentor-inner-left">
          <strong>더 많은 고객을 만날 기회!</strong><br />
          가입 직후 <strong>내 조건에 맞는 요청서</strong>를<br />
          무료로 받아보고 만나고 싶은<br />
          고객과 연락해보세요.<br />          
         </div>

        <div class="swiper-container1">
          <div class="swiper-ljh">
            <div class="swiper-pagination"></div>
            <div class="swiper-button-ljh">
              <div class="swiper-button-prev1">&lt;</div>
              <div class="swiper-button-next1">&gt;</div>
            </div>
          </div>

          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="carousel-img1">
                <img
                  src="images/applymentor1.png"
                />
              </div>
              <div class="classtitle">새싹의 요청서가 도착해요</div>
              <p>
                전문 분야 활동을 등록하면 <br />
                새싹이 도움이 필요한 서비스에 대해<br />
                작성한 요청서가 도착해요
              </p>
            </div>
            <div class="swiper-slide">
              <div class="carousel-img1">
                <img
                  src="images/applymentor2.png"
                />
              </div>
              <div class="classtitle">잔디님의 견적을 발송하세요</div>
              <p>
                답변 보낼 새싹을 선택하고 <br />
                견적을 보낸 후 고용 기회를 잡아보세요
              </p>
            </div>
            <div class="swiper-slide">
              <div class="carousel-img1">
                <img
                  src="images/applymentor3.png"
                />
              </div>
              <div class="classtitle">새싹과 연락하세요</div>
              <p>
                견적을 보낸 새싹과 <br />
                채팅 및 전화(안심번호)를 통해<br />
                의뢰를 진행하세요
              </p>
            </div>
            <div class="swiper-slide">
              <div class="carousel-img1">
                <img
                  src="images/applymentor4.png"
                />
              </div>
              <div class="classtitle">거래가 완료되었어요!</div>
              <p>
                거래를 통해 서로 도움을 <br />
                주고 받고 이제 나도 숨은 잔디!!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <th:block th:replace="common/footer.html" ></th:block>
    <th:block th:replace="main/modal.html" ></th:block>
    <script>
	    /* $(function(){
	  		if('${requestScope.authMessage}' != ''){
	  			if(confirm('${requestScope.authMessage}')){
	  				alert("잔디 신청페이지로 이동! (아직 구현 X)");
	  			}
	  		}
	  	}); */
    
	  	const swiper = new Swiper(".swiper-container", {
        slidesPerView: 4, // 동시에 보여줄 슬라이드 갯수
        spaceBetween: 1, // 슬라이드간 간격
        slidesPerGroup: 4, // 그룹으로 묶을 수, slidesPerView 와 같은 값을 지정하는게 좋음

        loopFillGroupWithBlank: true,

        loop: false, // 무한 반복

        pagination: {
          el: ".swiper-pagination",
          clickable: true, // 페이징을 클릭하면 해당 영역으로 이동, 필요시 지정해 줘야 기능 작동
        },
        navigation: {
          nextEl: ".swiper-button-next", // 다음 버튼 클래스명
          prevEl: ".swiper-button-prev", // 이번 버튼 클래스명
        },
      }); 
	  	
	  	const swiperJandi = new Swiper(".swiper-j", {
	        slidesPerView: 6, // 동시에 보여줄 슬라이드 갯수
	        spaceBetween: 1, // 슬라이드간 간격
	        slidesPerGroup: 6, // 그룹으로 묶을 수, slidesPerView 와 같은 값을 지정하는게 좋음

	        loopFillGroupWithBlank: true,

	        loop: false, // 무한 반복

	        pagination: {
	          el: ".swiper-pagination",
	          clickable: true, // 페이징을 클릭하면 해당 영역으로 이동, 필요시 지정해 줘야 기능 작동
	        },
	        navigation: {
	          nextEl: ".button-next", // 다음 버튼 클래스명
	          prevEl: ".button-prev", // 이번 버튼 클래스명
	        },
	      }); 
	  	
/*   	$(function(){
  	  $('.btn-hover.color-1').hover(function(){
  	    $('.btn-hover.color-1').css("background-color", "#FF6C6C");
  	  }, function() {
  		$('.btn-hover.color-1').css("background-color", "#B61A1A");
  	  }
  	  
  	  );
  	}); */
      
/*       const swiper = new Swiper('.swiper-container', {
          //기본 셋팅
          //방향 셋팅 vertical 수직, horizontal 수평 설정이 없으면 수평
          direction : 'horizontal',
          //한번에 보여지는 페이지 숫자
          slidesPerView : 1,
          //페이지와 페이지 사이의 간격
          spaceBetween : 30,
          //드레그 기능 true 사용가능 false 사용불가
          debugger : true,
          //마우스 휠기능 true 사용가능 false 사용불가
          mousewheel : true,
          //반복 기능 true 사용가능 false 사용불가
          loop : true,
          //선택된 슬라이드를 중심으로 true 사용가능 false 사용불가 djqt
          centeredSlides : true,
          // 페이지 전환효과 slidesPerView효과와 같이 사용 불가
          // effect: 'fade',
          speed : 1000,
          //자동 스크를링
          autoplay : {
              //시간 1000 이 1초
              delay : 3500,
              disableOnInteraction : false,
          },
          //페이징
          pagination : {
              //페이지 기능
              el : '.swiper-pagination',
              //클릭 가능여부
              clickable : true,
          },
          //방향표
          navigation : {
              //다음페이지 설정
              nextEl : '.swiper-button-next',
              //이전페이지 설정
              prevEl : '.swiper-button-prev',
          },
      }); */
    </script>
    <script>
      new Swiper(".swiper-container1", {
        slidesPerView: 1, // 동시에 보여줄 슬라이드 갯수
        spaceBetween: 1, // 슬라이드간 간격
        slidesPerGroup: 1, // 그룹으로 묶을 수, slidesPerView 와 같은 값을 지정하는게 좋음

        loopFillGroupWithBlank: true,

        loop: false, // 무한 반복

        pagination: {
          el: ".swiper-pagination",
          clickable: true, // 페이징을 클릭하면 해당 영역으로 이동, 필요시 지정해 줘야 기능 작동
        },
        navigation: {
          nextEl: ".swiper-button-next1", // 다음 버튼 클래스명
          prevEl: ".swiper-button-prev1", // 이번 버튼 클래스명
        },
      }); 
    </script>
  </body>
</html>


<!-- 모달창 모아두는 곳 -->


