<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>잔디 프로필</title>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<style>
.warningtable tbody {
	text-align: center;
}

.warningtable thead {
	background-color: #E3FFEC;
	text-align: center;
}

.imgBox {
	width: 250px;
	height: 250px;
	border-radius: 50%;
}

.imgStyle {
	border-radius: 70%;
	width: 200px;
	height: 200px;
	overflow: hidden;
}

p {
	font-weight: bold;
	font-size: 20px;
}

.btnStyle {
	padding: 5px;
	font-size: 12px;
	float: right;
}

.areaStyle {
	border: 1px solid #FDD2BF;
	width: 100%;
	resize: none;
}

.areaStyle focus {
	border: none;
	width: 100%;
	resize: none;
}

.inputStyle {
	border: none;
	width: 100%;
	text-align: center;
}

.pro-img {
	margin-top: -53px;
	margin-bottom: 20px
}

.little-profile .pro-img img {
	width: 72px;
	height: 72px;
	-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	border-radius: 100%
}
</style>


<script>
	
	function modifyProfile() {
		$('#openModalBtn').click();
	}

	$(function() {
		/* 잔디 닉네임 변경 */
		$('#modifyNickBtn').click(function() {
			let nickName = $('#nickNameInput').val();
			console.log(nickName);
			if (nickName != "") {	// 닉네임 변경 값이 비어 있지 않으면 중복검사
				$.ajax({
					url : "/member/jandiNickNameDupCheck",
					type : "GET",
					data : {
						nickName : nickName
					},
					success : function(data) {	// 중복 검사 결과, 중복된 결과가 있는 경우 알러창을 띄우고, 중복 결과가 없으면 변경하기
						if (data) {
							alert("중복된 닉네임입니다.");
						} else {
							$('#modifyNickForm').submit();
						}
					},
					error : function(error) {
						console.log(error);
					}
				});

			} else {	// 닉네임 값이 없는 경우
				alert("변경할 닉네임을 입력해 주세요.");
			}

		});

		// 정보 수정 성공 여부를 반환하는 리다이렉트 메세지
		let modifyMessage = "[[${ modifyMessage }]]";
		if(modifyMessage != ""){
			alert(modifyMessage);
		}
		
		// 해당 html의 글자 수 넣어주기
		$('#careerCheck').html($('#careerText').val().length);
		$('#introCheck').html($('#introText').val().length);
	});
	
	function modifyProfileImage(){
		let profileImg = $("#profileImage").val();
		if(profileImg != ""){	// file input값이 있으면 실행
			
			// formData에 파일과 저장할 dir을 저장
			let formData = new FormData($('#changeImgForm')[0]);
			formData.append("file", profileImg);
			formData.append("dir", "/uploadFiles/profile");
			
			//파일 업로드 메소드 
			let fileDTO = uploadProfile(formData);	
			
			if(fileDTO != null){ // 파일 업로드가 성공하면
				
				// 잔디 테이블에 업데이트할 정보 저장
				let jandiDTO = {
						email: "[[${jandi.email}]]",
						profile_path: fileDTO.file_path
				};
				// 잔디 테이블에 업데이트
				jandiDTO = saveJandiProfile(jandiDTO);
				if(jandiDTO != null){	// 업데이트 성공시 화면에 프로필 사진 변경
					$('#profile').attr("src", "/uploadFiles/profile/" + jandiDTO.profile_path);
				}
				
				$("#profileImage").val("");
				$('#closeBtn').click();
			}
		}else{
			alert("바꿀 프로필 이미지를 선택해 주세요.");
		}
	}
	
	function uploadProfile(formData){
		let fileDTO = null;
		$.ajax({
			async: false,
			method: 'post',
			url: "/jandi/file/upload",
			processData: false,
			contentType: false,
			cache:false,
			data: formData,
			dataType: "json",
			success: function(data){
				fileDTO = data;
			},
			error: function(err){ 
				console.log(err); 
			}
		});
		return fileDTO;
	}
	
	function saveJandiProfile(jandiDTO){
		let jandi = null;
		$.ajax({
			async: false,
			method:'post',
			url: "/jandi/profile",
			data: jandiDTO,
			dataType: "json",
			success: function(data){
				jandi = data;
			}, error: function(err){ console.log(err); }
		});
		return jandi;
	}
	
	/* 텍스트 길이값 넘어가지 않게 체크하는 메소드 */
	function checkLength(inputItem, spanItem, maxLength){
		let $item = $(inputItem);
		spanItem.html($item.val().length);
		
		if($item.val().length > maxLength){
			alert(maxLength + "자를 초과할 수 없습니다.");
			$item.val($item.val().substr(0, (maxLength-1)));
			$item.focus();
			spanItem.html($item.val().length);
		}
	}
	
	function saveJandiInfo(){
		
		let jandiDTO = {
				"email" : "[[${jandi.email}]]"
			  ,	"career" : $('#careerText').val()
			  , "intro" : $('#introText').val()
		};
		
		$.ajax({
			type: 'post',
			url: "/jandi/careerAndIntro",
			data: jandiDTO,
			success: function(result){	
				console.log(result);
				$('#saveLabel').html(result);
			},
			error: function(err){
				console.log(err);
			}
		});	//ajax 끝
	}
	
</script>

</head>
<body>
	<th:block th:replace="/common/nav.html" ></th:block>

	<div class="common-sidebar">
		<th:block th:replace="/common/mentorsidebar.html" ></th:block>
		<div class="sidebar-content">
			<div class="introduce">
				<button class="btn btn-primary btnStyle" id="modifyNickBtn" type="button">닉네임
					변경</button>
				<div align="center">
					<div class="imgBox">
						<img th:src="@{/uploadFiles/profile/}+${jandiInfo.profile_path}"
							class="imgStyle" id="profile" onclick="modifyProfile();">
					</div>
					<br>
					<form id="modifyNickForm" action="/jandi/nickName" method="post">
						<h3>
							<input type="hidden" name="_method" value="PATCH">
							<input type="hidden" name="email" th:value="${ jandi.email }">
							<input id="nickNameInput" type="text" name="nickName"
								class="inputStyle" th:value="${ jandiInfo.nickName }">
						</h3>
					</form>
				</div>
			</div>
			<br>

			<div class="introduce" style="padding: 3%">
				
				<h2>잔디 경력</h2> 
				<hr class="border-1px-black" />
				<p style="float:right; font-size: 15px;">( <span id="careerCheck"></span> / 300자 )</p>
				<textarea class="areaStyle" name="career" rows="10" cols="20" id="careerText"
					wrap="hard" onkeyup="checkLength(this, $('#careerCheck'), 300);"
					placeholder="경력을 작성해 주세요."><th:block th:text="${ jandiInfo.career }"/></textarea>

				<br> <br> <br>
				<h2>소개</h2>
				<hr class="border-1px-black" />
				<p style="float:right; font-size: 15px;">( <span id="introCheck"></span> / 330자 )</p>
				<textarea class="areaStyle" name="introduce" id="introText" onkeyup="checkLength(this, $('#introCheck'), 330);"
					rows="20" cols="20" wrap="hard" placeholder="소개를 작성해 주세요."><th:block th:text="${ jandiInfo.intro }"/></textarea>
				<br> <br>
				<button type="button" class="btn btn-primary btnStyle" onclick="saveJandiInfo();">저장하기</button>
				<label id="saveLabel" style="float:right; margin: 10px;"></label>
				<br> <br>
				<hr>
				<div>
					<br>
					<a style="float:right;" href="/findclass/findAllClassMain?categoryCode=&searchValue=${ jandi.nickName }">더 보기</a>
					<p>"<th:block th:text="${ jandiInfo.nickName }"/>" 잔디님의 진행중인 클래스</p>
					<hr class="border-1px-black" />
					<div class="row">
						 <th:block th:each="jandClass : ${ jandiClassList }" >
							<div class="col-lg-4 col-sm-6 mb-4">
								<div class="card" style="border: 1px solid #FDD2BF;">
									<img class="card-img-top" style=" height: 200px; width:100%;"
										th:src="@{/uploadFiles/classImage/}+${ jandClass.filePath }"
										alt="Card image cap">
									<div class="card-body little-profile text-center">
										<div class="pro-img">
											<img th:src="@{/uploadFiles/profile/}+${ jandClass.profilePath }" alt="user">
										</div>
										<h5 class="m-b-0"></h5>
										<p th:text="${ jandClass.title}"></p>
										<a href="javascript:void(0)"
											class="m-t-10 waves-effect waves-dark btn btn-primary btn-md btn-rounded"
											style="margin-bottom: 16px; " data-abc="true"
											onclick="location.href='/findclass/class/viewsUp?classCode=[[${ jandClass.classCode }]]'">자세히보기</a>
										<div class="row text-center m-t-20">
											<div class="col-lg-1 col-md-4 m-t-20">
												<h3 class="m-b-0 font-light"></h3>
												<small> </small>
											</div>
											<div class="col-lg-10 col-md-4 m-t-20">
												<h3 class="m-b-0 font-light">₩ <th:block th:text="${ jandClass.price }"/> 
													<br>등록일 : <th:block th:text="${ jandClass.createDate }"/></h3>
												<small> 
													<th:block th:if="${ jandClass.avgStar == 0}">
														<span style="color:lightgray;"><i class="star icon"></i></span>
													</th:block>
													<th:block th:if="${ jandClass.avgStar != 0}">
														<th:block th:each="num: ${ #numbers.sequence(1, jandClass.avgStar)}">
													   		<span style="color:#ffcc00;"><i class="star icon"></i></span>
														 </th:block>
												   </th:block>
													([[${ jandClass.rvCount }]])
													/ [[${ jandClass.categoryName }]]
												</small>
											</div>
											<div class="col-lg-1 col-md-4 m-t-20">
												<h3 class="m-b-0 font-light"></h3>
												<small> </small>
											</div>
										</div>
									</div>
								</div>
							</div>
						</th:block>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="profileModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">프로필 사진 변경</h4>
				</div>
					<div class="modal-body" align="center">
						<br><b>변경할 프로필 사진을 선택해 주세요.</b> 
						<br><br> 
						<form id="changeImgForm" enctype="multipart/form-data" accept="image/*">
							<input type="file" name="file" id="profileImage">
						</form>
						<br><br>
						<button type="button" class="btn btn-default" style="margin-right: 80%;" 
							th:onclick="'location.href=\''+ @{/jandi/profile(email=${jandi.email}, profile_path=sprout.png)} + '\''">
							프로필 사진 초기화</button>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default btnBD" id="closeBtn"
							data-dismiss="modal">취소</button>
						<button type="button" class="btn btn-primary" id="okBtn"
							onclick="modifyProfileImage();">변경</button>
					</div>
			</div>
		</div>
	</div> 

	<button type="button" id="openModalBtn" data-toggle="modal"
		data-target="#profileModal" hidden="true"></button>
		
</body>
<th:block th:replace="/common/footer.html" ></th:block>
</html>