<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />

    <title>find All Jandi</title>

    <link th:href="@{/css/bootstrap/bootstrap.css}"  rel="stylesheet" />
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <link th:href="@{/css/mypage.css}" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/semantic/semantic.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/findJandi/findJandiMain.css}">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  </head>
  
  <script>
  
  	 $(function(){
  		
  		/* 셀렉트박스 선택 시 페이지 리로드 */
  		$("#sortValueSelect").on("change", function(){
  			$("#searchform").submit();
  		});

  		/* 페이지 리로드 시 셀렉트 박스 값 유지하기 */
  		$("#sortValueSelect").val("[[${ selectCriteria.sortValue }]]");

  		/* 페이지 리로드 시 검색값 유지하기 */
  		$("#searchValue").val("[[${ selectCriteria.searchValue }]]");
  		
  		if("[[${ selectCriteria.sortValue }]]" == ""){
  			$("#sortValueSelect option:eq(0)").prop("selected", "true");
  		}
  		
  	});
  	
 	
  
  </script>
  
  <body>

    <th:block th:replace="common/nav.html" ></th:block>
    <div class="common-sidebar">
    <th:block th:replace="common/findJandisidebar.html" ></th:block>
      
      <div class="container" style="width:75%; margin-top:150px">

  <!-- Page Heading -->
  <h1 class="my-4">잔디 보기 | 
    <small>전체 잔디</small>
  </h1>

  	<div class="row">
		<div class="row" style="margin-bottom:10px;">
			<div class="dropsearch">
			<form id="searchform" action="/findJandi/findAllJandiMain" method="get" >
				<select class="ui dropdown" id="sortValueSelect" name="sortValue" style="margin-left:120px; float:left; border-radius: 1.5rem;">
					<option value="NICKNAME_ASC">이름순</option>
					<option value="ENROLL_DATE_DESC">최신순</option>
					<option value="SUMVIEWS_DESC">인기순</option>
				</select>
		       	<div class="main-searchbox" style="width:350px;">
			        <input type="search" id="searchValue" name="searchValue" 
			        	placeholder="찾으시는 잔디가 있으신가요?" value="[[${ selectCriteria.searchValue }]]">
		          	<button type="submit">
		           		<img src="/images/research.png"/>
		         	</button>
				</div>
			</form>
		       	</div>
			  <br><br>
		</div>
		
	   <th:block th:each="findJandi : ${findJandiList}" >
		    <div class="col-lg-4 col-sm-6 mb-4">
			      <div class="card">
			            <div class="card-body little-profi text-center">
			                <div class="intmentor-img"><img th:src="@{/uploadFiles/profile/}+${findJandi.profile_path}" alt="user"  
			                	th:onclick="|location.href='@{|/findJandi/jandiProfile/${ findJandi.email }|}'|"></div>
			                <p th:text="${ findJandi.nickname }" ></p>
			            </div>
			      </div>
		    </div> 
	   </th:block>

  	</div>
  	<br><br>
	 <!-- Pagination -->
	 <th:block th:replace="common/paging.html" ></th:block>
</div>
</div>
	
<!-- /.container -->

  </body>
  <th:block th:replace="common/footer.html" ></th:block>
</html>
