@charset "UTF-8";

.common-sidebar {
  width: 70%;
  overflow: auto;
  margin: 150px auto 100px auto;
  /* border: 1px solid purple; */
}
.common-sidebar > div {
  display: inline-block;
  float: left;
}

#sidebar {
  display: block;
  position: relative;
  width: 20%;
  height: auto;
  margin: 0 50px;
  height: 800px;
  /* border: 1px solid blue; */
}

.sidebar-inner-name {
  width: 100%;
  height: auto;
  /* border: 1px solid skyblue; */
  text-align: center;
}

.sidebar-inner-name1 {
  width: 80%;
  margin: 0 auto;
  height: auto;
  /* border: 1px solid skyblue; */
  text-align: center;
}

.sidebar-inner-name1 > ul {
  text-decoration: none;
  list-style: none;
  padding: 0 10px;
  font-size: 20px;
  color: #ff9566;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: left;
}

.sidebar-inner-name1 li {
  font-size: 15px;
  color: #B61A1A;
  padding: 10px 0;
  text-decoration: none;
}

.sidebar-inner-name1 a {
  text-decoration: none;
  color: #000;
  padding-left: 15px;
}

.border-1px-black {
  border: 1px solid #B61A1A;
  border-radius: 200px;
}

iframe {
  display: none;
}

.btn-primary{color:black;background-color:#FDD2BF;border-color:#FDD2BF}
.btn-primary.active,.btn-primary.focus,.btn-primary:active,.btn-primary:focus,.btn-primary:hover,.open>.dropdown-toggle.btn-primary{color:black;background-color:#ffefe9;border-color:#FDD2BF}

/* ************ 남은 페이지 잡는 css ************** */

